**/node_modules
**/.dockerignore
**/.env.production
**/.env.dev
**/.eslintrc.cjs
**/.gitignore
**/build-product.yml
**/Dockerfile
**/Dockerfile-\*
**/package-lock.json
**/coverage
**/.github
**/.git
**/\*.yml
**/\*.md
**/.eslintrc
\*\*/server.cjs
\*\*/libssl\*.\*
.env.development
./scripts
!./scripts/run-tests.sh
!./scripts/init-products.sh
